    @font-face{
    font-family:"Poppins";
    src:url("Poppins-Regular.otf");
}

@font-face{
    font-family:"Poppins Bold";
    src:url("Poppins-Bold.otf");
}
@font-face{
    font-family:"Matrix";
    src:url("MatrixTypeDisplay-Regular.ttf");
}
@font-face{
    font-family:"coc";
    src:url("ANunito.ttf");
}
@font-face{
    font-family:"Frd";
    src:url("Fredoka-Regular.ttf");
}
@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}
#mode{
    position:fixed;
    top:5px;
    left:5px;
    text-align:center;

    width:35px;
    height:35px;

    border:none;
    border-radius:50%;

    background:#D1D5B4;
    color:#000;

    font-size:20px;
    cursor:pointer;

    box-shadow:0 8px 20px rgba(0,0,0,25);

    transition:.3s;

    z-index:999;
  
    transition:all .3s ease;
  
    animation:fade .8s;
}

#mode:hover{
    transform:scale(1.1);
}
body.dark{
    background:#000;
    color:white;
}
#typing{
    text-align:center;
    font-family:"Matrix";
    font-size:27px;
    font-weight:bold;
    margin:20px 0;

    background:linear-gradient(
        90deg,
        #ff4d4d,
        #ff9f43,
        #ffe66d,
        #4cd137,
        #00a8ff,
        #9c88ff,
        #ff4d4d
    );

    background-size:300%;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    animation:rainbow 5s linear infinite;
}

@keyframes rainbow{
    from{
        background-position:0%;
    }
    to{
        background-position:300%;
    }
}

body.dark .card,
body.dark .header-card{
    background:#202020;
    color:white;
}

body.dark hr{
    background:white;
}
body.dark .header-card:hover,
body.dark .card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 45px rgba(255,255,255,35);
}
body.dark footer{
    color:white;
}
body.dark a:hover{
    background:#A5A5A5;
    box-shadow:0 0 40px rgba(255,255,255,4);
}
body.dark a{
    background:#3B3B3B;
    color:#fff;
}
body.dark #mode{
    background:#444;
    color:#FFD54F;
    box-shadow:0 8px 20px rgba(255,255,255,4);
}
*{
  scroll-behavior: smooth;
}
#loader{
    position:fixed;
    inset:0;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:20px;

    background:#2C2C25;
    color:#fff;

    z-index:9999;
}

#loader.hide{
    opacity:0;
    pointer-events:none;
}
#content{
    opacity:0;
}
.progress{
    width:250px;
    height:8px;
    background:#000;
    border-radius:999px;
    overflow:hidden;
}

#bar{
    width:0%;
    height:100%;
    background:#fff;
    transition:width .15s linear;
}

.show{
    opacity:1;
    animation:fade .8s forwards;
}

    body{
    background-color:#8B8B74;
    margin:0;
    padding:40px;

}
h2,h3,h5,h6{
    font-family:"Frd";
    text-align:center;
}
h1{
    font-family:"Matrix";
}
p,dt,dd,ol,ul,h4{
    font-family: "coc";
}
hr {
  background-color: #000;
  height: 2px;
  border: none;
}
.Contact-social-card{
    font-family:"coc";
    background:#D9C97C;
    color:#4A3F35;
    padding:8px 16px;
    border-radius:12px;
    text-decoration:none;
    display:inline-block;
    width:108px;
}
.Contact:hover{
box-shadow:0 0 40px #000;
}
footer{
    text-align:center;
    margin-top:40px;
    color:#000;
    font-size:14px;
    font-family:"coc";
}
blockquote{
    font-family: "Frd";
}
.button-center{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
    text-align: center;
}
.Contact social-card:hover img{
    transform:scale(1.1);
}
.foto{
    width:100px;
    height:100px;
    margin-top:15px;
    border-radius:15px;
}
.info h3{
    margin:8px 0 4px 0;
}

.info p{
    margin:0;
}
.header-card:hover,
.card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 45px rgba(0,0,0,35);
}
.text-awal{
  text-align:center;
}
.header-card{
    width:90%;

    height:30%;

    max-width:850px;

    margin:10px auto 20px auto;

    background: #C7CBA3;

    border-radius:20px;

    padding:20px;

    box-shadow:0px 10px 25px rgba(0,0,0,.08);

    transition:all .5s ease;
  
    animation:fade .8s;

}
.card{

    width:90%;

    max-width:1100px;

    margin:30px auto 30px auto;

    background: #C7CBA3;

    border-radius:20px;

    padding:20px;

    box-shadow:0px 10px 25px rgba(0,0,0,.08);

    transition:all .7s ease;
  
    animation:fade .8s;

}
